body {
    display: flex;
    flex-direction: column;
    background-color: #473A3D;
    align-items: center;
}
.anime {
    background-color: #F41031;
    width: 850px;
    height: 600px;
    margin: 100px auto;
    padding: 1px;
    opacity: 0;
    transform: translate3d(-150px,0,0);
    transition: .4s;
}
.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}